nav {
  position: fixed;
  top: 100px;
  left: 0;
  width: 200px;
  background-color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 15px 25px;
  font-family: 'Signika';
  font-size: 1.25em;
  text-align: center;
}

li:hover {
  background: lightsteelblue;
}

a {
  text-decoration: none;
  color: inherit;
}